/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
/* nav{
    z-index: 99999999;
} */
/* .main-layout{
    padding-top: 75px;
} */
.nav-title {
  color: #090909;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav-title:hover {
  color: var(--main-color);
  font-weight: 600;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.product {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.product:hover {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 7px;
}

.shadow {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}
.product .btn {
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.product img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.product img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color) !important;
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.border-footer {
  border-top: solid #ddd 1px;
}
.border-footer2 {
  border-left: solid #ddd 1px;
}
.img-footer {
  width: 70px;
  margin-left: 10px;
}
.fade-container {
  opacity: 0;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.fade-container.visible {
  opacity: 1;
}
.profile-sitting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 10px 30px;
  margin: 3px 30px;
  font-weight: 600;
}
.profile-sitting:hover {
  background-color: var(--light-color);
  border-radius: 10px;
}
.bg-active {
  background-color: var(--main-color);
  color: white;
  border-radius: 10px;
}
.bg-active:hover {
  background-color: var(--main-color);
  color: white;
}
.address-card {
  border: solid var(--light-color) 2px;
  border-radius: 5px;
  padding: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-content {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.popup-content h2 {
  font-size: 24px;
  margin-top: 0;
}

.popup-content p {
  font-size: 18px;
  margin-bottom: 10px;
}
.img-order{
  width: 50px;
}


/* Loading Spinner */
.spinner {
  width: 44.8px;
  height: 44.8px;
  -webkit-animation: spinner-y0fdc1 2s infinite ease;
          animation: spinner-y0fdc1 2s infinite ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.spinner > div {
  background-color: #0aad0a52;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid #0aad0a;
}

.spinner div:nth-of-type(1) {
  -webkit-transform: translateZ(-22.4px) rotateY(180deg);
          transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  -webkit-transform: rotateY(-270deg) translateX(50%);
          transform: rotateY(-270deg) translateX(50%);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  -webkit-transform: rotateY(270deg) translateX(-50%);
          transform: rotateY(270deg) translateX(-50%);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  -webkit-transform: rotateX(-90deg) translateY(50%);
          transform: rotateX(-90deg) translateY(50%);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  -webkit-transform: translateZ(22.4px);
          transform: translateZ(22.4px);
}

@-webkit-keyframes spinner-y0fdc1 {
  0% {
     -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@keyframes spinner-y0fdc1 {
  0% {
     -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}


/* .lds-ellipsis {
  z-index: 999999999999999999999;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
} */
